<!DOCTYPE html>
<html lang="en">
<%- include('./partials/theHead.ejs') %> 
<body>
    <div class="some_background_work all_the_stuff"> 
        <%- include('./partials/navigation.ejs') %> 
        <div class="main_content card red">
            <h1>!!404!!</h1>
            <h3>Whoops, seems like this page doesnt exist! Refer to no one, just go back or click the links.</h1>
        </div>
    </div>
</body>
</html>