<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Первая</title>
    <link rel="stylesheet" href="style_hell_yea.css">
</head>
<body>
    <div class="container">
        <div class="information">
                <img src="https://animals.sandiegozoo.org/sites/default/files/2019-03/animals_hero_leopardgecko.jpg" id="lizard"></td>
                <div class="info-text">
                <h2><strong>Моё создание</strong></h2>
                <p>Я без понятия что я делаю</p>
                <p><em> <strong> Наверное </strong>не стоит</em></p>
                <h4>Как???</h4>
                <a href="https://developer.mozilla.org/ru/">Полезная штучка MDN</a>
                <a href="https://youtube.com" target="_blank"><strong>ютуб</strong></a>
                </ul>
                </div>
            </div>
            <div class="card bg-yellow">
            <h3>Я не знаю, вот список:</h3>
                <ol type="I" class="list">
                    <li>окей</li>
                    <li>ага</li>
                    <li>вот оно</li>
                </ol>
            </div>
            <div class="card bg-green">
                <h2>Окей, но как так?</h2>
                <ul class="links">
                <li><a href="new_page.html" target="_blank">посмотреть след. страницу</a></li>
                </ul>
            </div>
            <div class="card bg-red">
                <h2>Таблица, просто потому что: </h2>
                <table class="tablitsa">
                    <tr>
                        <th>Люди</th>
                        <th align="center">Есть ли питомец</th>
                        <th>Год рождения</th>
                    </tr>
                    <tr>
                        <td>Руслан</td>
                        <td>Ага</td>
                        <td>2006</td>
                    </tr>
                    <tr>
                        <td>Лена</td>
                        <td>Ага</td>
                        <td>2016</td>
                    </tr>
                    <tr>
                        <td>Владик и Даня</td>
                        <td>Нет (владелец не позволяет)</td>
                        <td>2006</td>
                    </tr>
                    <tr> 
                        <td colspan="10" align="center"><strong>Вывода нет</strong></td>
                    </tr>
                    
                </table>
            </div>
            <div class="contact">
            <h2>Хотите заказать дизайн сайта?!</h2>
            <form action="/">
            <div class="row">
                <div class="form_group">
                    <label for="username">Ваше имя: </label>
                	<input type="text" name="вот" id="username" placeholder="Введите ваше имя">
                </div>
                <div class="form_group">
                    <label for="email">Ваш e-mail: </label>
                    <input type="email" id="email" placeholder="Введите ваш e-mail">
                </div>
            </div>
                <div class="form_group">
                <label for="textarea">Ваше сообщение: </label>
                <textarea id="textarea" cols="30" rows="10" placeholder="Введите ваше сообщение"></textarea>
                </div>
                <input type="submit" class="btn" value="Отправить данные">

            </form>
            </div>
            <div class="position">
                <div class="box"></div>
            </div>
    </div>
    <div style="margin-bottom: 500px;"></div>
</body>

</html>