@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body{
    background-color: rgb(250, 250, 250);
    color: rgb(21, 97, 52);
    font: normal 18px 'Roboto Condensed', sans-serif;
    text-align:left;
}
a {
    color: rgb(69, 209, 65);
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
}
a:active{
    color: coral;
}
a:visited {
    color: rgb(7, 93, 221);
}
#lizard {
    width: 200px; 
    height: 128px;
    border-radius: 1ch;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.288); 
}
.bg-yellow{
    background: #fff9dc;
    border: 5px solid #e6e0c7;
}
.bg-green{
    background: #e5ffe7;
    border: 5px solid #d2ebd4;
}
.bg-red{
    background: #ffe5e5;
    border: 5px solid #e4cccc
}
.card{
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.information{
    margin-bottom: 20px;
}
/*.information p {
    color:black ;
    margin: 0;
    font-style: italic;
    font-weight: bolder;
    text-decoration:underline;
    text-transform: capitalize;
    word-spacing: 6px;
} */

.container {
    max-width: 750px;
    margin: auto;
    padding-top:30px ;
}
/*.lists {
    background: rgb(220, 220, 220);
    padding: 5px;
    border: 10px solid rgb(194, 188, 188);
    border-bottom: 10px solid rgb(110, 101, 101);
    border-right: 10px solid rgb(126, 122, 122);
    margin: 5px;
    text-decoration: underline;
    text-transform: capitalize;
} */

/*.box-model > div{
    background: black;
    height: 200px;
    width: 25%;
    border: 4px solid red;
    float: left;
    box-sizing: border-box;
}
*/
.card h2{
    margin-bottom: 10px;
}
.list{
    padding-left: 20px;
}
.list li{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.tablitsa{
    width: 100%;
}
.tablitsa td:nth-child(2) {
    text-align: center;
    color:rgb(0, 0, 0);
    text-decoration: underline
}
.links {
    list-style:square;
}
.contact h2 {
    text-align: center;
}
.form_group label{
    display: block;
    font-size: 14px;
    color: #86898f;
}
.form_group input, .form_group textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0px 10px;
    outline: none;
    font-family: inherit;
}
.row {
    display: flex;
    margin-bottom: 20px;
}
.row > .form_group{
    width: 50%;
}
.row > .form_group:first-child{
    margin-right: 20px;
}
.information{
    display: flex;
}
.info-text {
    margin-left: 40px;
}
.info-text h2 {
    margin-bottom: 10px;
}
.btn{
    padding: 15px 20px;
    background: black;
    color: #fff;
    font-family: inherit;
    cursor: pointer;
    border: 5px solid rgb(155, 142, 142);
}
.btn:hover{
    opacity: 0.7;
}
.position{
 border: 4px solid red;
 margin-top: 40px;
 padding: 20px;
}
.box{
    width: 50px;
    height: 50px;
    background:rgb(69, 209, 65);
}
@media (max-width: 700px) {
    .information{
        display:block;
        text-align: center;
    }
}
